<footer class="page-footer blue darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">GEM Furious</h5>
        <p class="grey-text text-lighten-4"><%= Quote.random %></p>
        <p><%= link_to image_tag("g5logo_92x82.png"), root_path, class:"responsive-img" %></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><%= link_to "Materialize Framework", "http://materializecss.com/", class: "grey-text text-lighten-3", target: "_blank" %></li>
          <li><%= link_to "Rails Guides", "http://guides.rubyonrails.org/index.html", class: "grey-text text-lighten-3", target: "_blank" %></li>
          <li><%= link_to "Github Required Reviews", "https://help.github.com/articles/approving-a-pull-request-with-required-reviews/", class: "grey-text text-lighten-3", target: "_blank" %></li>
          <li><%= link_to "Github API", "https://developer.github.com/v3/", class: "grey-text text-lighten-3", target: "_blank" %></li>
          <li><%= link_to "Github Reviews API", "https://developer.github.com/v3/pulls/reviews/", class: "grey-text text-lighten-3", target: "_blank" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>